<a href="https://colab.research.google.com/github/LondheShubham153/unsupervised_learning/blob/main/apriori_bread_basket_lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=b0392d822565dbb8410ec313b89f622b3de876f9a9bc94d2930c13af380a3f95
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
from apyori import apriori

In [ ]:
data = pd.read_csv('bread_basket.csv')
data = data[["Transaction","Item"]]
num_records=len(data)
print("num of records=",num_records)

num of records= 20507

In [ ]:
data

       Transaction           Item
0                1          Bread
1                2   Scandinavian
2                2   Scandinavian
3                3  Hot chocolate
4                3            Jam
...            ...            ...
20502         9682         Coffee
20503         9682            Tea
20504         9683         Coffee
20505         9683         Pastry
20506         9684      Smoothies

[20507 rows x 2 columns]

In [ ]:
observations_data = [] 

for i in range(num_records):
  observations_data.append([str(data.values[i,j]) for j in range(len(data.columns))])

In [ ]:
associations_data = apriori(observations_data,confidence=0.1,support=0.1)
associations_data = list(associations_data)
associations_data

[RelationRecord(items=frozenset({'Bread'}), support=0.16213975715609305, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Bread'}), confidence=0.16213975715609305, lift=1.0)]),
 RelationRecord(items=frozenset({'Coffee'}), support=0.26678695079728876, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Coffee'}), confidence=0.26678695079728876, lift=1.0)])]

In [ ]:
associations_df = pd.DataFrame(associations_data)
associations_df

      items   support                          ordered_statistics
0   (Bread)  0.162140   [((), (Bread), 0.16213975715609305, 1.0)]
1  (Coffee)  0.266787  [((), (Coffee), 0.26678695079728876, 1.0)]